html{
  scroll-behavior: smooth;
}

p, div {
  font-family: Acme, Arial;
  margin: 0;
}

.homepage-container {
  height: 100vh;
  width: 100vw;
  
}

.homepage-container img {
  position: fixed;
  top: 0;
  left: 0;
  height: inherit;
  width: 100%;
  object-fit: cover;
  object-position: top;
  opacity: .95;
}

.greetings-container {
  position: absolute;
  left: 5%;
  top: 10%;
}
.greetings-container p{
  color: rgba(255, 255, 255, 0.75);
  font-family:Roboto, Arial;
}

.hello {
  font-size: 60px;
}

.name {
  font-size: 110px;
}

.title, .location {
  font-size: 40px;
}

.greetings-container button{
  margin-top: 25px;
  font-family: Roboto, Arial;
  font-size: 30px;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 5px;
  padding-bottom: 5px;
  border-radius: 5px;
  border: none;
  background-color: rgba(255, 255, 255, 0.75);
  cursor: pointer;
}

.greetings-container button:hover{
  background-color: transparent;
  border-style: solid;
  border-width: 1px;
  border-color: rgba(255, 255, 255, 0.9);
  color: rgba(255, 255, 255, 0.9);
  
}

.home-navigator-container {
  position: absolute;
  display: block;
  width: 350px;
  height: 100vh;
  right: 5px;
  padding-top: 15%;
}

.home-navigator-container button {
  border-style: solid;
  font-family: Acme, Arial;
  font-size: 38px;
  margin-bottom: 25px;
  font-weight: bold;
  background-color: transparent;
  color: rgba(255, 255, 255, 0.8);
  border-color: rgba(255, 255, 255, 0.8);
  padding-left: 35px;
  padding-right: 35px;
  border-radius: 8px;
  margin:15px;
  cursor: pointer;
}

.home-navigator-container button:hover {
  font-size: 42px;
  margin-bottom: 10px;
  background-color: rgba(255, 255, 255, .2);
  color: white;
  border-color: white;
}

.home-navigator-container button:active {
  font-size: 42px;
  margin-bottom: 10px;
  background-color: rgba(255, 255, 255, 0.815);
  color: rgba(0, 0, 0, 0.80);
  border-color: rgba(0, 0, 0, 0.80);
}

.know-me-container{
  position: relative;
  width: 100vw;
  height: auto;
  background-color: rgba(255, 255, 255, 0.95);
  display: flex;
  flex-direction: column;
  margin-bottom: 15px;
}

.biography-label {
  font-family: Roboto, Arial;
  font-weight: bold;
  height: auto;
  font-size: 85px;
  text-align: center;
  color: rgba(236, 16, 0, 0.932);
  letter-spacing: 20px;
  
}

.about-me-container {
  flex:1;
  display: flex;
  flex-direction: row;
  margin-bottom: 20px;
  
}

.about-me-container div,p{
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: rgb(235, 235, 235);
  
}

.biography-bg{
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: bottom;
  opacity: .8;
  position:absolute;
}

.experience-container {
  flex:1;
  height: inherit;
  margin-left: 10%;
  margin-top: 25px;
  background-color: rgba(0, 0, 0, 0.8);
  z-index: 2;
  border-right-style: solid;
  border-color: rgb(182, 182, 182);
  border-width: 2px;
  border-style: solid;
}

.education-container {
  flex: 1;
  height: inherit;
  margin-right: 10%;
  margin-top: 25px;
  background-color: rgba(0, 0, 0, 0.8);
  border-left-style: solid;
  border-color: rgb(182, 182, 182);
  border-width: 2px;
  z-index: 2;
  border-style: solid;
  
}

.experience-label {
  font-size: 40px;
  text-align: end;
  padding-right: 30px;
  padding-top: 20px;
  letter-spacing: 5px;
}

.title-exp {
  padding-right: 30px;
  padding-top: 40px;
  margin-bottom: 20px;
  font-size: 30px;
  text-align: end;
}

.body-exp {
  padding-right: 30px;
  margin-top: 10px;
  font-size: 23px;
  text-align: end;
}

.skills-label {
  font-size: 40px;
  padding-right: 30px;
  margin-top: 50px;
  letter-spacing: 5px;
  margin-bottom: 25px;
  text-align: end;

}

.skill-bullets {
  padding-right: 30px;
  margin-top: 10px;
  font-size: 23px;
  text-align: end;
  list-style: none;
  
}

.skill-bullets li{
  margin-bottom: 10px;
}

.education-label, .about-label {
  font-size: 40px;
  padding-left: 30px;
  padding-top: 20px;
  letter-spacing: 5px;
}

.title-educ {
  padding-left: 30px;
  padding-top: 40px;
  margin-bottom: 20px;
  font-size: 30px;
}

.body-educ, .body-about-me {
  padding-left: 30px;
  margin-top: 10px;
  font-size: 23px;
}

.about-label{
  margin-top: 40px;
}

.about-me-picture {
  width: 35%;
  float: left;
  margin-right: 30px;
  border-style:solid;
  border-width: 4px;
  border-color: rgba(255, 255, 255, 0.384);
}

.about-me-text {
 
  padding-left: 30px;
  padding-right: 30px;
  padding-top: 30px;
  padding-bottom: 20px;
  text-align: justify;
  font-size: 20px;
  line-height: 35px;
  font-style: italic;
}

.skill-demo-1-container,
.skill-demo-2-container,
.skill-demo-3-container,
.skill-demo-4-container,
.skill-demo-5-container,
.skill-demo-6-container,
.skill-demo-7-container,
.skill-demo-8-container{
  position: relative;
  width: 100vw;
  height: 100vh;
  display: flex;  
  margin-bottom: 15px;
  border-bottom: 5px solid rgba(255, 255, 255, 0.479);
  border-top: 5px solid rgba(255, 255, 255, 0.479);
}

.skill-demo-1-container img,
.skill-demo-2-container img,
.skill-demo-3-container img,
.skill-demo-4-container img,
.skill-demo-5-container img,
.skill-demo-6-container img,
.skill-demo-7-container img,
.skill-demo-8-container img{
  position: absolute;
  width: 100%;
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  filter: blur(5px);
  -webkit-filter: blur(3px);
}


.skill-demo-1-container::before,
.skill-demo-2-container::before,
.skill-demo-3-container::before,
.skill-demo-4-container::before,
.skill-demo-5-container::before,
.skill-demo-6-container::before,
.skill-demo-7-container::before,
.skill-demo-8-container::before {
  content: "";
  background-color: rgba(0, 0, 0, .5);
  position: absolute;
  top: 0px;
  right: 0px;
  left: 0px;
  bottom: 0px;
}

.video-demo-container {
  flex: 1;
  border-style: solid;
  border-width: 5px;
  margin-top: 12%;
  margin-bottom: 12%;
  margin-left: 5%;
  margin-right: 5%;
  background-color: white;
  position: relative;
}

.skill-description-container {
  flex: 1;
}

.skill-1, .skill-1-description,
.skill-3, .skill-3-description,
.skill-5, .skill-5-description,
.skill-7, .skill-7-description {
  text-align: center;
  width:auto;
  border-style: solid; 
  margin-right: 8%;
  font-family: Roboto,Arial;
  color: white;
  background-color: rgb(15, 15, 15,.8);
  position: relative;
  
}
.skill-1,
.skill-3,
.skill-5,
.skill-7{
  margin-top: 28%;
  padding-top: 10px;
  padding-bottom: 10px;
  font-size: 35px;
  font-weight: bold;
  border-radius: 10px;
}
.skill-1-description, 
.skill-3-description,
.skill-5-description,
.skill-7-description{
  padding-top: 20px;
  padding-bottom: 20px;
  font-size: 25px;
  padding-left: 30px;
  padding-right: 30px;
  text-align: justify;
  line-height: 40px;
}

.skill-2, .skill-2-description,
.skill-4, .skill-4-description, 
.skill-6, .skill-6-description, 
.skill-8, .skill-8-description {
  text-align: center;
  width:auto;
  border-style: solid; 
  margin-left: 8%;
  font-family: Roboto,Arial;
  color: white;
  background-color: rgba(15, 15, 15, 0.8);
  position: relative;
}
.skill-2,
.skill-4,
.skill-6,
.skill-8 {
  margin-top: 28%;
  padding-top: 10px;
  padding-bottom: 10px;
  font-size: 35px;
  font-weight: bold;
  border-radius: 10px;
}
.skill-2-description,
.skill-4-description,
.skill-6-description,
.skill-8-description {
  padding-top: 20px;
  padding-bottom: 20px;
  font-size: 25px;
  padding-left: 30px;
  padding-right:30px;
  text-align: justify;
  line-height: 40px;
}

.contact-container{
  position: relative;
  width: 100%;
  height: 100vh;
  background-position: absolute;
  display: flex;
  flex-direction: column;
  /* margin-bottom: 10%; */
}

.container-top {
  flex: 1;
}

.text{
  width: 850px;
  margin:  0px auto;
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: column;
}
.contact-label {
  text-align: center;
  font-family: Roboto, Arial;
  font-size: 80px;
  font-weight: bold;
  letter-spacing: 20px;
  width: inherit;

}

.contact-message {
  text-align: center;
  font-family: Roboto, Arial;
  font-size: 28px;
  letter-spacing: 3px;
  line-height: 40px;
  width: inherit;
}

.contact-container div {
  height: 100%;
}

.contact-info{
  flex:1 ;
  display: flex;
  margin: auto;
  margin-bottom: auto;
  justify-content: center;
  align-items: center; 
}

.home, .phone, .mail {
  flex: 1;
  width: 330px;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: white;
}

.phone {
  margin-right: 20px;
  margin-left: 20px;
}

.home-icon, .mail-icon {
  width: 100px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 100px;
  cursor: pointer;

}

.phone-icon {
  width: 80px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 100px;
  cursor: pointer;
}

.phone-icon:hover,
.home-icon:hover,
.mail-icon:hover {
  filter: brightness(160%);
}

.contact-us,
.visit-us,
.call-us{
  font-family: Roboto,Arial;
  text-align: center;
  font-size: 30px;
  color: gray;
  padding-top: 10px;
  cursor: pointer;
}

.contact-us:hover,
.visit-us:hover,
.call-us:hover{
  color: black;
}

.email,
.phone-number,
.address{
  text-align: center;
  font-size: 18px;
  color: rgb(21, 141, 120);
  padding-top: 20px;
  padding-left: 20px;
  padding-right: 20px;
  height: auto;
  min-height: 100px;
  
}

.stalk-container {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100vh;
  margin-top: 10%;
}
.reference-container{
  display: flex;
  flex-direction: column;
  flex: 1;
  background-color: whitesmoke;
}
.reference-container,
.stalker-mode-container {
  height: 100%; 
}

.div-holder {
  margin: auto;
  width: 800px;
  border-style: solid;
}
.ref{
  color: black;
  text-align: center;
  font-size: 50px;
}
.reference-holder {
  flex: .75;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  justify-content: space-evenly;
  align-items: center;
  gap: 20px;
  margin-bottom: auto;
}

.reference-holder div {
  text-align: center;

}

.ref-name,
.ref-position,
.ref-company{
  color: black;
  font-family: Roboto,Arial;
  font-size: 20px;
}

.ref-name {
  font-weight: bolder;
  font-size: 25px;
}

.ref-position{
  font-style: italic;
}
.ref-email{
  font-family: Roboto,Arial;
  font-size: 20px;
  color: red;
}
.stalker-mode-container{
  flex: 1.5;
  background-color: black;
  color: white;
  text-align: center;
  height: auto;
}
 .stalker-mode {
    font-family: Roboto, Arial;
    padding-top: 60px;
    font-size: 25px;
    letter-spacing: 20px;
 }

 .stalk-profile {
   font-family: Roboto, Arial;
   padding-top: 40px;
   font-size: 90px;
 }

 .social-media-container {
   display: flex;
   height: 35vh;
 }

 .social-media-holder{
  margin: auto;
  width: 800px;
  min-width: 500px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
 .social-media-holder div {
   background-color: orangered;
   width: 100px;
   height: 100px;
   border-style: solid;
   cursor: pointer;
 }
 

 .social-media-holder img {
  width:50px;
  padding-top: 25%;
  
}

.social-media-holder div:hover {
  background-color: transparent;
  border-style: solid;
  border-color: orangered;
}

.social-media-holder div:active {
  background-color: rgba(255, 68, 0, 0.50);
  border-style: solid;
  border-color: rgba(255, 255, 255, 0.50);
 
}








